# dependencies
node_modules/

# next.js
.next/
/out/
/build

# env — secrets, never commit
.env
.env*.local

# misc
.DS_Store
*.pem
npm-debug.log*
yarn-error.log*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
